# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Docker / logs
# ===============================
*.log

# ===============================
# Node.js
# ===============================
node_modules/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
.vscode/
.idea/
